﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="ProyectoDeClase._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <h1>Calculadora Web - Tarea Evaluable Curso ASP.Net</h1>
    <br />
    <hr />

    <p>
        INTROUDCE EL PRIMER NUMERO:
        <asp:TextBox ID="Value1" runat="server" BorderColor="#CC33FF" BackColor="#66FFFF"></asp:TextBox>
    </p>
    <br />
    <hr />
    <p>
        INTRODUCE EL SEGUNDO NUMERO:
        <asp:TextBox ID="Value2" runat="server" BackColor="#66FFFF" BorderColor="#CC33FF"></asp:TextBox>
    </p>
     <br />
    <hr />
    
    <asp:DropDownList ID="Operaciones" runat="server">
        <asp:ListItem>SUMAR</asp:ListItem>
        <asp:ListItem>RESTAR</asp:ListItem>
        <asp:ListItem>MULTIPLICAR</asp:ListItem>
        <asp:ListItem>DIVIDIR</asp:ListItem>
    </asp:DropDownList>
    <br />
     <br />
    <hr />
    <p>
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="CALCUCULAR" />
    </p>
    <p>
        EL RESULTADO ES :
        <asp:Label ID="resultLabel" runat="server" Text="" Font-Bold="True" ForeColor="#FF3399"></asp:Label>
    </p>

    

</asp:Content>
